{{template "base/head" .}}

<div class="repository view issue pull files diff" style="float:left; width:85%">
<div class="ui container">
<div class="ui bottom attached tab pull segment active" style="margin-left:10%">
{{range $i, $file := .MRDiff.Files}}
<div class="diff-file-box diff-box file-content {{TabSizeClass $.Editorconfig $file.Name}}" id="diff-{{.Index}}">
    <div class="ui unstackable attached table segment">
        <div class="file-body file-code code-view code-diff">
            <table>
                <tbody>
                {{$highlightClass := $file.HighlightClass}}
                {{range $j, $section := $file.Sections}}
                {{range $k, $line := $section.Lines}}
                <tr class="{{DiffLineTypeToStr .Type}}-code nl-{{$k}} ol-{{$k}}">
                    {{if eq .Type 4}}
                    <td class="lines-num"></td>
                    <td colspan="3"  class="lines-code">
                        <pre><code class="{{if $highlightClass}}language-{{$highlightClass}}{{else}}nohighlight{{end}}">{{$section.ComputedInlineDiffFor $line}}</code></pre>
                    </td>
                    {{else}}
                    <td class="lines-num lines-num-old" {{if $line.LeftLine}} id="diff-{{Sha1 $file.Index}}L{{$line.LeftLine}}" data-line-number="{{$line.LeftLine}}"{{end}}>
                    </td>
                    <td class="lines-code halfwidth">
                        <pre><code class="wrap {{if $highlightClass}}language-{{$highlightClass}}{{else}}nohighlight{{end}}">{{if $line.LeftLine}}{{$section.ComputedInlineDiffFor $line}}{{end}}</code></pre>
                    </td>
                    <td class="lines-num lines-num-new" {{if $line.RightLine}} id="diff-{{Sha1 $file.Index}}R{{$line.RightLine}}" data-line-number="{{$line.RightLine}}"{{end}}>
                    </td>
                    <td class="lines-code halfwidth">
                        <pre><code class="wrap {{if $highlightClass}}language-{{$highlightClass}}{{else}}nohighlight{{end}}">{{if $line.RightLine}}{{$section.ComputedInlineDiffFor $line}}{{end}}</code></pre>
                    </td>
                    {{end}}
                </tr>
                {{end}}
                {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
{{end}}
</div>
</div>
</div>
<div id="passButtonDiv" style="float:left;width:100px;margin-top:20px">
<button id="passButton" class="button">通过</button>
</div>

{{if .Diff.IsIncomplete}}
<div class="diff-file-box diff-box file-content">
    <h4 class="ui top attached normal header">
        {{$.i18n.Tr "repo.diff.too_many_files"}}
    </h4>
</div>
{{end}}

<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>

<script>
    (function() {
        $('.add-code').each(function() {
            var prev = $(this).prev();
            if(prev.is('.del-code') && prev.children().eq(3).text().trim() === '') {
                while(prev.prev().is('.del-code') && prev.prev().children().eq(3).text().trim() === '') {
                    prev = prev.prev();
                }
                prev.children().eq(3).html($(this).children().eq(3).html());
                prev.children().eq(2).html($(this).children().eq(2).html());
                prev.children().eq(3).addClass('add-code');
                prev.children().eq(2).addClass('add-code');
                $(this).remove();
            }
        });
    }());

    $('#passButton').click(function(){
      let canClick = false;
    	for (let i=0; i<{{.Reviewers}}.length; i++) {
    	  if ({{.Reviewers}}[i] === {{.LoggedUserName}}){
					canClick = true;
					break;
    	  }
    	}
    	if (canClick === false) {
    	} else {
    	    let passUrl = "pass?user="+{{.LoggedUserName}};
    	    let xhr = new XMLHttpRequest();
					xhr.open('get',passUrl);
					xhr.send();
					xhr.onreadystatechange = function(){
              if(xhr.readyState === 4 && xhr.status === 200){
                  console.log("success");
              }
          }
    	}
    });
</script>

{{template "base/footer" .}}
